body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#about-me{
    width: 60%;
}
.flex-container{
    display: flex;
}
.card-text{
    width: max-content;
}