body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#about-me{
    width: 60%;
}
.flex-container{
    display: flex;
}
.card-text{
    text-align: center;
}
.card{
    margin: 30px 20px;
    padding: 10px 10px;
    width: 100%;
}
footer{
    text-align: center;
    color: white;
    background-color: orangered;
}
.container{
    column-width: auto;
    border-radius: 10px;
}
.fpic{
    border-radius: 20px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}